*
{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
    cursor: pointer;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: white;
    z-index: 1;
}
.navbar__logo
{
    width: 50px;
    height: 50px;
}
.navbar__s1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__title
{
    font-size: 33px;
    margin-left: 5px;
}
.navbar__s2
{
    display: flex;
    /* gap: 10px; */
}
.navbar__s2 p
{
    font-size: 18px;
    font-weight: 500;
}
.navbar__s3
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}
.navbar__s3__preference
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
}
.navbar__s3__preference:hover
{
    background-color: #F2F2F2;
    padding: 5px 20px;
    border-radius: 25px;
}
.navbar__s3__preference__button
{
    border: none;
}
.navbar__s3__preference p
{
    font-size: 20px;
    font-weight: 500;
}
.navbar__s3_signin
{
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    padding: 15px 25px;
    border-radius: 25px;
    cursor: pointer;
}
.navbar__s3__preference__line
{
    color: #c7bdbd;
    font-weight: 100;
}
.navbar__s2 p
{
    padding: 12px 18px; 
}
.navbar__s2__button:hover
{
    background-color: #F2F2F2;
    padding: 12px 18px; 
    border-radius: 25px;
}
.navbar__s2__underline:hover
{
    background-color: #F2F2F2;
    padding: 12px 18px; 
    border-radius: 25px;
    text-decoration: underline;
    color: #545454;
    font-weight: 500;
}

.navbar__s3__preference img{
    width: 20px;
}
.navbar__s4
{
    display: none;
}



.place
{
    margin: 4% 2% 2% 2%;
    font-size: 30px;
    text-align: center;
}
.categories
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
.categories img
{
    width: 25px;
    height: 25px;
}
.categories h2
{
    font-weight: 500;
    font-size: 20px;
}
.categories__s1
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-bottom: solid 2px white;
}
.categories__s1:hover{
    color: #545454;
    border-bottom: solid 2px black;
}
.categories__s1__search
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px black;
}
.searchbar
{
    padding: 5px;
    margin: 2% 8%;
    border: solid #c7bdbd 1px;
    border-radius: 40px;
    /* width: 80%; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: alias;
    box-shadow: 0 14px 25px rgba(85, 84, 84, 0.1), 0 2px 2px rgba(107, 105, 105, 0.12);
}
.searchbar input
{
    font-family: "Poppins", sans-serif;
    border: none;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
}
.searchbar input:focus
{
    outline: none;
}
.searchbar button{
    background-color:#34E0A1;
    border: none;
    padding: 18px 22px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 35px;
    margin-right: 3px;
}
.searchbar button:hover
{
    background-color: #84E9BD;
}

.hero img
{
    width:100%;
}
.hero
{
    background-color:#D9D0FC;
    margin: 5% 3% 3% 2%;
    border-radius: 15px;
    color: #301D49;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.hero__image
{
    position: relative;
}
.hero__text
{
    width: 50%;
    position: absolute;
    top: 10px;
    left: 50px;
}
.hero__text h1
{
    font-size: 40px;
    line-height: 50px;
}
.hero__text h2
{
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0 20px 0;
}
.hero__text button
{   
    border: none;
    background-color: #301D49;
    padding: 15px 30px;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}
.hero__text button:hover
{
    background-color: #52327C;
    cursor: pointer;
}
.partnership
{
    display: flex;
    flex-wrap: wrap;
    margin: 3% 2%;
    justify-content: space-between;
    background-color: #FAF1ED;
    padding: 20px;
    border-radius: 10px;
}
.partnership img
{
    border-radius: 10px;
    transform: rotate(355deg);
}
.partnership__s2 h1
{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}
.partnership__s2 p
{
    font-size: 20px;
    /* align-items: end; */
}

.partnership__s3
{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end; /* Align items to the end of the container */
    align-items: flex-end; /* Align items to the end horizontally */
    padding: 10px; /* Add padding as needed */
    position: relative; /* Ensure positioning context */
}
.partnership__s3 button
{
    border: none;
    border: solid 2px black;
    border-radius: 28px;
    padding: 15px 25px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;

}
.partnership__s3 button:hover
{
    border: none;
    border: solid 2px white;
    border-radius: 28px;
    padding: 15px 25px;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    color: white;

}

.card{
    margin: 2%;
}
.card__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}

.card__container__image
{
    position: relative;
}
.card__container__image:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.card__container__title
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    opacity: 1;
}
.card__container__title:hover
{
    opacity: 1;
}
.card__container__image img{
    border-radius: 10px;
}
.card h2
{
    font-size: 28px;
    font-weight: 500;
}
.card p
{
    font-size: 18px;
    margin: 5px 0;
}
.popular
{
    margin: 3% 2%;
}
.popular__card
{
    width: fit-content;
    position: relative;
}
.popular__card img
{
    border-radius: 10px;
}
.popular__card__heart
{
    background-color: white;
    padding: 5px 10px;
    border-radius: 80px;
    /* width: fit-content; */
    position: absolute;
    top: 10px;
    right: 10px;
}
.popular__card__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0 0 0;
}
.popular__title
{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0 0 0;
}
.popular__subtitle
{
    font-size: 20px;
    margin: 3x 0 0 0;
}
.popular__review__number
{
    margin-left: 10px;
}
.popular__card img:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.popular__container h3
{
    font-size: 20px;
    font-weight: 600;
}
.popular__container__price
{
    /* font-size: 17px; */
    font-weight: 600;
}

.explore__container__card
{
    position: relative;
}
.explore__container__card__heart
{
    background-color: white;
    padding: 5px 10px;
    border-radius: 80px;
    /* width: fit-content; */
    position: absolute;
    top: 10px;
    right: 10px;
}
.explore__container img
{
    border-radius: 10px;
}
.explore__container
{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-around;
    gap: 20px;
    margin: 15px 0;
}
.explore
{
    margin: 2% 0;
    background-color: #FAF1ED;
    padding: 2%;
}
.explore h2{
    font-size: 30px;
    font-weight: 500;
}
.explore__card h3
{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}
.explore__container img:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.explore__card h3:hover
{
    cursor: pointer;
    text-decoration: underline;
    color: #575757;
}

.suggestion__image
{
    position: relative;
}
.suggestion__image:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.suggestion__title
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    opacity: 1;
}
.suggestion__title:hover
{
    opacity: 1;
}
.suggestion__image img{
    border-radius: 10px;
}
.suggestion__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}
.suggestion
{
    margin: 3% 2%;
}
.suggestion h2
{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
}
.suggestion h3
{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}
.suggestion__subtitle
{
    font-size: 20px !important;
    font-weight: 400;
    margin: 0;
}
.sponser
{
    background-color: #F2ECF9;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.sponser__contents
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.sponser__image
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sponser__image p
{
    font-size: 20px;
    color: #565558
}
.sponser__image img
{
    width: 50px;
    /* height: 40px; */
}
.sponser__text h1
{
    font-size: 40px;
    font-weight: 550;
}
.sponser__text h3
{
    color: #565558;
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0 20px 0;
}
.sponser__text button
{
    border: none;
    border: solid 2px black;
    border-radius: 28px;
    padding: 15px 25px;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    color: white;

}
.sponser__text button:hover
{
    border: none;
    border: solid 2px black;
    border-radius: 28px;
    padding: 15px 25px;
    background-color: #333333;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.rentals__container
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    gap: 10px;
    margin: 25px 0 10px 0;
}
.rentals__container__card img
{
    width: 90%;
    border-radius: 10px;
}

.rentals__container__card img:hover
{
    width: 90%;
    border-radius: 10px;
    opacity: 0.8;
    cursor: pointer;
}
.rentals
{
    margin: 3% 2%;
    font-size: 22px;
    font-weight: 400;
}
.rentals__container__text h3
{
    font-size: 24px;
    font-weight: 600;
}
.rentals__container__card h4
{
    font-size: 20px;
    font-weight: 500;
}
.rentals__container__card p
{
    font-size: 15px;
    font-weight: 500;
}
.banner__text button
{
    border: none;
    border: solid 2px black;
    border-radius: 28px;
    padding: 15px 25px;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    color: white;

}
.banner__text button:hover
{
    border: none;
    border: solid 2px black;
    border-radius: 28px;
    padding: 15px 25px;
    background-color: #333333;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.banner__image img
{
    width: 100%;
}
.banner__image
{
    position: relative;

}
.banner__text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    margin: 2px;
}
.banner__text h3
{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 400;
}
.footer
{
    background-color: #FAF1ED;
    margin: 3% 0 0 0;
    padding: 3% 2%;
}
.footer_content__s1 h6, .footer_content__s2 h6, .footer_content__s3__one h6, .footer_content__s3__two h6, .footer_content__s4 h6
{
    font-size: 20px;
    font-weight: 400;
}
.footer_content
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.footer_content__s1 p, .footer_content__s2 p, .footer_content__s3__one p, .footer_content__s3__two p, .footer_content__s4 p
{
    margin: 5px 0;
}
.footer_content__s3
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer_content__s3__two__style
{
    margin-top: 10px;
}
.footer_content__s1 p:hover, .footer_content__s2 p:hover, .footer_content__s3__one p:hover, .footer_content__s3__two p:hover, .footer_content__s4 p:hover
{
    text-decoration: underline;
    color: #565558;
}
.rights
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rights__contents img
{
    width: 50px;
}
.social
{
font-size: 30px;
}
.social i
{
    margin:0 10px;
}
.rights__contents
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rights__contents p
{
    margin-left: 10px;
}
/* .social a
{
    color: black;
} */


/* Media Queries */
@media screen and (max-width:1000px) {
    body
    {
        font-size: 10px !important;
    }
    .hero__text button{
        display: none;
    }
}

@media screen and (max-width:800px) {
    .navbar__s2
    {
        display: none;
    }
    .categories__s1 i
    {
        display: none;
    }
    .hero__text
    {
        display: none;
        /* width: 100%; */
    }
    .explore
    {
        display: none;
    }
    .rentals__container__text
    {
        display: none;
    }
    .banner__text
    {
        display: none;
    }
    .partnership
    {
        display: none;
    }
    .sponser
    {
        display: none;
    }
    .categories__s1 h2
    {
        display: block;
        font-size: 12px;
    }
    .searchbar
    {
        font-size: 10px;
    }
    .searchbar input, .searchbar button
    {
        /* width: 70%; */
        font-size: 14px;
    }
    .card h2
    {
        font-size: 20px;
    }
    .card p
    {
        font-size: 16px;
    }
    .social
    {
        display: none;
    }
    .footer_content__s1 h6, .footer_content__s2 h6, .footer_content__s3__one h6, .footer_content__s3__two h6, .footer_content__s4 h6
    {
        font-size: 14px;
    }
}
@media screen and (max-width:600px) {
    .navbar__s3{
        display: none;
    }
    .navbar__s4
    {
        display: block;
    }
    .categories__s1 h2
    {
        display: none;
    }
    .card__container
    {
        font-size: 2px;
        border: none;

    }
    .navbar__title, .popular__title, .suggestion h2, .rentals h2
    {
    font-size: 18px !important;
    }
    .place h1
    {
        font-size: 28px;
    }
    .popular__subtitle, .suggestion h3
    {
        font-size: 14px;
    }
    .popular__container__title, .popular__container h3, .rentals__container__card h4
    {
        font-size: 12px !important;
    }
    .rentals__container__card p
    {
        font-size: 10px;
    }
    
    .card__container__image img
    {
        
        margin-top: 20px;
        align-items: center;
        width: 100%;
    }
    .suggestion__title h1, .card__container__title h1
    {
        font-size: 14px !important;
    }
}
